@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 100%;
  min-height: 100vh;
  background: #ecf2f8;
  font-family: 'Manrope', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body, article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

article {
  background: #fff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

article h3, article h4 {
  font-weight: 700;
  color: #48556a;
}

article p {
  font-weight: 500;
  color: #9eafc2;
}

article img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.moved {
  display: none;
}

article {
  position: relative;
  width: 90%;
  height: 80vh;
  overflow: hidden;
  border-radius: 1.25rem;
  margin-bottom: .5rem;
}

article section.imgbox {
  width: 100%;
  height: 32vh;
}

article section.middle h3 {
  margin: 2.5rem;
  text-align: justify;
  font-size: 1.7rem;
}

article section.middle p {
  margin: .8rem 2.5rem;
  font-size: 1.25rem;
  text-align: justify;
}

article section.profile {
  width: 100%;
}

article section.profile div.move {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

article section.profile div.move div.profile__imgbox {
  margin: 0 1.5rem 1rem 2.8rem;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

article section.profile div.move div.info {
  margin-bottom: 1rem;
}

article section.profile div.move div.info h4 {
  font-size: 1.3rem;
}

article section.profile div.move div.info p {
  font-size: 1.2rem;
}

article section.profile div.moved {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 7.5rem;
  bottom: 0;
  right: -100%;
  background: #48556a;
}

article section.profile div.moved h6 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
  letter-spacing: .5rem;
  margin: 0 1.5rem;
}

article section.profile div.moved .imgbox1, article section.profile div.moved .imgbox2, article section.profile div.moved .imgbox3 {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 .5rem;
}

article section.profile div.moved .imgbox1 img, article section.profile div.moved .imgbox2 img, article section.profile div.moved .imgbox3 img {
  fill: #fff;
}

article div.profile__share {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: #ecf2f8;
  cursor: pointer;
}

article div.profile__share img {
  width: 50%;
  height: 43%;
}

article .zero {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media screen and (min-width: 992px) {
  html {
    font-size: 70% !important;
  }
  article {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row nowrap !important;
            flex-flow: row nowrap !important;
    width: 60% !important;
    height: 50vh !important;
  }
  article .imgbox {
    height: 100% !important;
    width: 40vw !important;
  }
  article .middleup {
    position: relative !important;
    width: 60vw !important;
    height: 100% !important;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
}
/*# sourceMappingURL=index.css.map */